<div class="container col-md-12 add_comment">
  <div class="row">
    <%= form_for [@article, @comment] do |f| %>
      <div class="form-group" >
        <div class="comment_input">
          <%= f.text_area :content, placeholder: "add comment", class: "form-control" %>
        </div>
      </div>
      <div class="form-group">
        <%= f.submit "Submit", class: "btn btn-primary" %>
        <%= f.button "Cancel", type: :reset, class: "btn btn-default" %>
      </div>
    <% end %>
  </div>
</div>