<h1>Dojo Forum</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Repliles count</th>
      <th>Title</th>
      <th>Situation</th>
      <th>Last Replied at</th>
      <th>Viewed count</th>
    </tr>
  </thead>

  <tbody>
    <% @article.each do |article|%>
    <% if article.published? %>
      <tr>
        <td>xxx</td>
        <td><%= article.title %> <br></td>
        <td>
          <% if article.published? %>
            <span>Article</span>
          <% else %>
            <span >Draft</span>
          <% end %>
      </td>
      <td>xxx</td>
      <td>xxxx</td>
      
    </tr>
    <% end %>
    <% end %>
  </tbody>

</table>

