<h1>Dojo Forum</h1>

<div class="container">
  <div class="row">
    <%= render partial: "shared/category_nav" %>
    <%= render partial: "shared/article_list" %>
    <div class="clearfix"></div>
    <div class="page">
      <%= paginate @article %>
    </div>
  </div>
</div>

