<h1>Dojo Forum</h1>

<div class="container">
  <div class="row">
    <%= render partial: "shared/category_nav" %>
    <%= render partial: "shared/article_list" %>
    <%= paginate @article %>
  </div>
</div>

