<div class="container">
  <div class="row">
    <%= render partial: "shared/user_nav" %>
    <div class="col-md-10 col-md-offset-1">
      <table class="table table-striped">
        <tbody>
          <% @collected_articles.each do |article|%>
            <tr>
              <td><%= article.title %> <br></td>  
              <td>
                <%= render partial: "shared/user_collect", locals: { article: article } %>
              </td>
            </tr>
          <% end %>
      </tbody>
    </table>
  </div>
</div>


